@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




@layer utilities{
    .navIcon{
        @apply text-gray-700 text-[16px] flex items-center hover:text-[17px] hover:font-bold cursor-pointer p-1 h-fit  hover:bg-[#e45447] hover:text-white w-fit rounded-sm hover:shadow-lg hover:drop-shadow-md shadow-slate-900 hover:-rotate-3 duration-150
    }
    
    .sideIcons{
        @apply py-3 cursor-pointer hover:text-[#e45447] duration-200 drop-shadow-md 
    }
    
}

.specialFont{
  font-family:monospace;  
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.typeWriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #e45447; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .04em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(15, end),
      blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange; }
}